@{
    Layout = "_CustomerLayout";
}

@model Videogame[]

<div>
    <a href="@Url.Action("Catalogo", "Customer")" class="d-flex justify-content-center flex-nowrap">
        <img src="https://zelda.com/tears-of-the-kingdom/images/share-fb.jpg" alt="Zelda" style="width: 25vw;" />
        <img src="https://w0.peakpx.com/wallpaper/244/558/HD-wallpaper-video-game-the-last-of-us-part-ii-ellie-the-last-of-us-fan-art.jpg" alt="Zelda" style="width: 25vw;" />
        <img src="https://www.godisageek.com/wp-content/uploads/Crash-4-main.jpg" alt="Zelda" style="width: 25vw;" />
        <img src="https://www.xtrafondos.com/wallpapers/hogwarts-legacy-portada-11564.jpg" alt="Zelda" style="width: 25vw;" />
    </a>
</div>


<div class="d-flex justify-content-between w-75 m-auto">
    <h1 class="fs-1 text-center my-5 fw-bolder fst-italic">Take your game to the <span class="text-primary">next level</span></h1>
    <img href="./tweets.png" alt="tweets" style="height: 300px;"/>
</div>


<h1 class="fs-2 text-center my-5 fw-bolder">I nostri preferiti!</h1>
@{
    <div>
        <div class="container mt-5">
            <div class=" p-3 m-auto">
                <div id="carouselExampleAutoplaying" class="carousel slide m-auto" data-bs-ride="carousel" style="height: 600px;">
                    <div class="carousel-inner">
                        @foreach (Videogame videogame in Model)
                        {
                            <div class="carousel-item @(videogame == Model.First() ? "active" : "")">
                                <img src="@videogame.ImgUrl" class="d-block w-50 m-auto" style="height: 450px;" alt="@videogame.Name">
                                <h1 class="fs-4 fw-bolder text-center mt-4 mb-2">@videogame.Name</h1>
                                <p class="fs-4 text-center">&#128077; @videogame.Like</p>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-black rounded-full p-2" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-black rounded-full p-2" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}