@model List<SaleTransaction>

<div class="mx-auto my-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Immagine</th>
                <th scope="col">Id Prodotto</th>
                <th scope="col">Prodotto</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Data</th>
                <th scope="col">Quantità</th>
                <th scope="col">Incasso</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SaleTransaction sale in Model)
            {
                <tr class="a">

                    <td><img class="img-fluid img_square" style="width: 15rem;" src="@sale.Videogame.ImgUrl" alt=""></td>
                    <td>@sale.VideogameId</td>
                    <td class="fw-bold">@sale.Videogame.Name</td>
                    <td>@sale.Videogame.Description</td>
                    <td>@((sale.Date).ToString("dd/MM/yyyy"))</td>
                    <td class="fw-bold">@sale.Quantity</td>
                    <td class="fw-bold">@((sale.Quantity * sale.Videogame.Price).ToString("0.00")) &euro;</td>
                </tr>
            }
        </tbody>
    </table>
</div>