<div class="py-6 border-bottom border-3">
	<ul class="flex gap-20 justify-center align-items-center">
		<li>
			<a class="fs-5 fw-bolder" href="@Url.Action("Sales", "ControlPanel")">VENDITE</a>
		</li>
		<li>
			<a class="fs-5 fw-bolder " href="@Url.Action("Inventory", "ControlPanel")">CATALOGO</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "Home")">
				<img src="/logo.png" style="height: 48px;"/>
			</a>
		</li>
		<li>
			<a class="fs-5 fw-bolder" href="@Url.Action("Supply", "ControlPanel")">ORDINA</a>
		</li>
		<li>
			<a class="fs-5 fw-bolder" href="@Url.Action("Storage", "ControlPanel")">MAGAZZINO</a>
		</li>
	</ul>
</div>
